<%= render 'shared/post_menu' %>

<h1 class="hidden read-only:visible">New post</h1>

<%= form_with(model: @post, url: eval("#{@category}_posts_path"),
              class: "grid grid-cols-1 mt-6 gap-y-6 sm:grid-cols-2 sm:gap-x-0") do |form| %>
  <%= render "form", post: @post, form: form %>
<% end %>
